<!-- templates/usuarios.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Usuarios</title>
</head>
<body>
    <h1>Panel de Usuarios</h1>
    <ul>
        <li><a href="/api/usuarios/register" target="_blank">Registrar Usuario (POST)</a></li>
        <li><a href="/api/usuarios/login" target="_blank">Login (POST)</a></li>
        <li><a href="/api/usuarios" target="_blank">Listar Todos los Usuarios (GET)</a></li>
        <li><a href="/api/usuarios/1" target="_blank">Obtener Usuario por ID 1 (GET)</a></li>
        <li><a href="/api/usuarios/1" target="_blank">Actualizar Usuario por ID 1 (PUT)</a></li>
        <li><a href="/api/usuarios/1" target="_blank">Eliminar Usuario por ID 1 (DELETE)</a></li>
        <li><a href="/api/usuarios/privado" target="_blank">Acceso Privado (GET)</a></li>

    </ul>
</body>
</html>
