/* Estilo de la página de incio */

/* Estilo general de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Contenedor centrado */
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #779CAB;
}

/* Lista de links sin puntos */
ul {
    list-style: none; /* elimina los puntos */
    padding: 0;
    margin: 20px 0 0 0;
}

li {
    margin: 15px 0; /* separación entre elementos */
}

a {
    text-decoration: none;
    color: #000000; 
    display: block;
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    background-color: #e9f2ff;
}

a:hover {
    background-color: #779CAB;
    color: white;
}
