<!-- Plantilla de la aplicación Flask -->

<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>Flask App</title>
    </head>

    <body>
        <h1>Flask App - Endpoints Inseguro vs Seguro</h1>
        <ul> <!-- Lista de endpoints -->
            <li><a href="/register">Registrar nueva cuenta</a></li>
            <li><a href="/login">Inicio de sesión</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
            <li><a href="/inseguro">Comprobación modelo inseguro</a></li>
            <li><a href="/seguro">Comprobación modelo seguro</a></li>
        </ul>
    </body>

</html>
