<!-- Plantilla para listar usuarios en la aplicación Flask  -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='listar_usuarios.css') }}">

</head>

<body>
    <div class="container">
        <h1>Usuarios registrados ({{ total }})</h1>
        <a href="/">Volver al inicio</a>
        
        <table border="1">
            <tr><th>Nombre</th><th>Rol</th></tr>
            {% for u in usuarios %}
            <tr>
                <td>{{ u.username }}</td>
                <td>{{ u.role }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>