<!-- Plantilla de inicio de sesión -->
<!DOCTYPE html>
<html>

<head><title>Login</title></head>

<body>
    <h1>Login</h1>
    {% if error %}<p style="color:red">{{ error }}</p>{% endif %}  <!-- Mensaje de error de incio de sesión  -->
   
    <form method="POST">
        <label>Usuario: <input type="text" name="username"></label><br>
        <label>Contraseña: <input type="password" name="password"></label><br>
        <button type="submit">Iniciar sesión</button>
    </form>

    <a href="/register">No tengo cuenta</a>
</body>

</html>
